In [105]:
import pandas as pd
import datetime as dt
import time
from pycoingecko import CoinGeckoAPI
cg = CoinGeckoAPI()

In [121]:
tweet_date = "2018-07-18 01:58:00"
coin='litecoin'
date_format = "%Y-%m-%d %H:%M:%S"
#1 day from current time will produce 5min interval
#1-90 hourly interval
#above 90 days is daily
number_of_days = 0
number_of_hours = 0
tweet_datetime = pd.to_datetime(tweet_date,format=date_format)
tweet_from_timestamp = (tweet_datetime - dt.timedelta(days=number_of_days,hours=number_of_hours)).timestamp()
tweet_to_timestamp = (tweet_datetime + dt.timedelta(days=number_of_days,hours=number_of_hours)).timestamp()

In [107]:
coin_gecko_data = cg.get_coin_market_chart_range_by_id(id=coin,
                                                vs_currency='usd',
                                                from_timestamp=tweet_from_timestamp,
                                                to_timestamp=tweet_to_timestamp)

In [108]:
def get_nth_element():
    return l[1]
parsed_data = {}
timestamps=list(map(lambda x:x[0],coin_gecko_data['prices']))
for key in btc_data.keys():
    parsed_data[key] = list(map(lambda x:x[1], coin_gecko_data[key]))
parsed_data['timestamps']=timestamps

In [109]:
df=pd.DataFrame(parsed_data)

In [110]:
df

      prices   market_caps  total_volumes     timestamps
0  89.175369  5.123420e+09   3.882875e+08  1531879250885
1  92.769025  5.329955e+09   4.248232e+08  1531882817953
2  91.057577  5.231668e+09   4.378514e+08  1531886422869
3  91.443451  5.253905e+09   4.406275e+08  1531890022695
4  91.118846  5.235295e+09   4.397204e+08  1531893619457
5  91.092473  5.233823e+09   4.400071e+08  1531897006721
6  90.900639  5.222813e+09   4.384108e+08  1531897297815
7  90.535440  5.201868e+09   4.397630e+08  1531900595171
8  89.538531  5.144618e+09   4.393184e+08  1531902559397
9  90.298396  5.188300e+09   4.464439e+08  1531904287747

In [111]:
df['timestamps'].head()

0    1531879250885
1    1531882817953
2    1531886422869
3    1531890022695
4    1531893619457
Name: timestamps, dtype: int64

In [112]:
df['date']=pd.to_datetime(df['timestamps'],origin='unix',unit='ms')

In [113]:
df

,prices,market_caps,total_volumes,timestamps,date
0,89.175369,5.123420e+09,3.882875e+08,1531879250885,2018-07-18 02:00:50.885
1,92.769025,5.329955e+09,4.248232e+08,1531882817953,2018-07-18 03:00:17.953
2,91.057577,5.231668e+09,4.378514e+08,1531886422869,2018-07-18 04:00:22.869
3,91.443451,5.253905e+09,4.406275e+08,1531890022695,2018-07-18 05:00:22.695
4,91.118846,5.235295e+09,4.397204e+08,1531893619457,2018-07-18 06:00:19.457
5,91.092473,5.233823e+09,4.400071e+08,1531897006721,2018-07-18 06:56:46.721
6,90.900639,5.222813e+09,4.384108e+08,1531897297815,2018-07-18 07:01:37.815
7,90.535440,5.201868e+09,4.397630e+08,1531900595171,2018-07-18 07:56:35.171
8,89.538531,5.144618e+09,4.393184e+08,1531902559397,2018-07-18 08:29:19.397
9,90.298396,5.188300e+09,4.464439e+08,1531904287747,2018-07-18 08:58:07.747